@model List<tamrin.DTOs.UserProfileDTO>;

@if(Model != null && Model.Any())
{
    foreach(var userProfile in Model)
    {
        <div class="card bg-light bg-primary  mb-3 col-md-12">
            <div class="card-header">اطلاعات کاربری : @userProfile.UserName</div>
            <div class="card-body">

                <div class="row">

                    <div class="col-md-4">

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="/@userProfile.UserAvatar" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@userProfile.UserName</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">BirthDay :@userProfile.Birthday  </li>
                                <li class="list-group-item">Age : @userProfile.Age</li>
                                <li class="list-group-item">Education level :@userProfile.EducationLevel </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-8">

                        <div class="card mb-3">
                            <img class="card-img-top" src="/@userProfile.UserStory" alt="Card image cap">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <div class="card text-white bg-danger mb-3 col-md-12">
        <div class="card-header">Danger</div>
        <div class="card-body">
            <h5 class="card-title">No information found</h5>
        </div>

    </div>
}

